@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

.up-chevron, .down-chevron {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    border: 0.45rem solid black;
    border-radius: 100%;
    font-size: 1.1rem !important;
}

.up-chevron {
    top: 5%;
}

.up-chevron::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../Assets/Icons/chevron-up-solid.svg");
    background-repeat: no-repeat;
}

.down-chevron::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../Assets/Icons/chevron-down-solid.svg");
    background-repeat: no-repeat;
}

a:not(a.up-chevron, a.down-chevron) {
    position: relative;
    padding: 0 0 0 1.5rem;
    color: #f7a1ff;
    font-family: 'Nunito';
}

a:not(a.up-chevron, a.down-chevron):before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-image: url("../Assets/Icons/arrow-up-right-from-square-solid.svg");
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
}

p {
    font-family: 'Nunito';
}

.sections {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    background: 
        linear-gradient(90deg, #182C61 50%,  transparent),
        var(--banner, linear-gradient(90deg, transparent, #82589F));
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
}

.sections::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(135deg, #210e25 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #492f5f 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #210e25 25%, transparent 25%),
        linear-gradient(45deg, #492f5f 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #82589F;
}

/* Makes content invisible if not in view,
    Excludes chevrons with :not()
    link: https://codepen.io/bstonedev/pen/MWWZgKz */
.sections *:not(a.up-chevron, a.down-chevron) {
    -webkit-transform: translateY(50px) rotate(-5deg);
    transform: translateY(50px) rotate(-5deg);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
}

/* Display content when in View, still excluding the chevrons,
    link: https://codepen.io/bstonedev/pen/MWWZgKz */
.sections *:not(.up-chevron, .down-chevron).inView {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.sections > h1, .sections > h2 {
    margin: 2.75rem;
}

.sections > h1 {
    font-size: 6rem;
    border-bottom: 0.25rem solid white;
}

.sections > h2 {
    font-size: 3.5rem;
}

.sections > p {
    margin: 0 20vw 30vh 5vw;
    font-size: 1.5rem;
}

.sections > .sect-wrapper {
    --background-opacity: 0.15;
    overflow-x: hidden;
    position: relative;
    width: 80vw;
    margin: 0 0 5rem 2.75rem;
    background: linear-gradient(90deg, rgba(88, 177, 159, var(--background-opacity)), rgba(253, 114, 114, var(--background-opacity)));
    border-top: 0.15rem solid white;
    border-bottom: 0.15rem solid white;
    font-family: 'Nunito';
    transition: all 0.75s cubic-bezier(0, 1.2, 1, 1);
}

.sections > .sect-wrapper::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    box-shadow: 1.5rem 2rem 0rem 0rem rgb(8, 3, 10);
    transition: opacity 2s cubic-bezier(0, 1.2, 1, 1);
}

.sections > .sect-wrapper:hover {
    --background-opacity: 0.3;
    transform: scale3d(1.025, 1.025, 1.025);
}

.sections > .sect-wrapper:hover::before {
    opacity: 87%;
    height: 100%;
    top: 0;
}

.sections > .sect-wrapper * li {
    transition: all 0.45s cubic-bezier(0, 1.2, 1, 1);
    margin-right: 10%;
}

.sections > .sect-wrapper * li:hover {
    padding-left: 1.5rem;
    margin-right: 7.5%;
    background-color: rgba(255, 255, 255, 0.25);
}

.sections > .sect-wrapper * li:hover a {
    color: #ffdfe3;
}

/* Display content content inside section wappers due to being too nested */
.sections > .sect-wrapper.inView * {
    opacity: inherit;
    transform: none;
    -webkit-transform: none;
}

#Footer {
    position: relative;
    width: 100vw;
    height: max-content;
    min-height: 5.5rem;
    border-top: 0.15rem solid rgba(255, 255, 255, 0.5);
    background: 
        linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        linear-gradient(90deg, #182C61 50%,  transparent),
        linear-gradient(90deg, transparent, #82589F);
} 

#Footer::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: 
        linear-gradient(135deg, #492f5f 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #2f1e3d 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #492f5f 25%, transparent 25%),
        linear-gradient(45deg, #2f1e3d 25%, transparent 25%);
    background-color: #82589F;
    background-size: 100px 100px;
}

#Footer > * {
    z-index: 100;
    margin: 0.75rem 1.5rem 0 0.75rem;
    padding: 0 0 0.75rem 0;
}

#Footer > h1 {
    border-bottom: 0.15rem solid rgb(255, 255, 255);
}

#Footer h2 {
    border-bottom: 0.2rem double white;
}